/*============================================ 
	Шрифты
============================================*/

/*============================================ 
	Основные стили
============================================*/
.Ri {float: right;}
.div {display: block;}
.rel {position: relative;}
.abs {position: absolute;}
.cont {display: block;width:100%;}
.b {font-weight: bold;}
.ma {margin: 0 auto;}
body{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
 	height: 100%;
 	line-height:135%;
}
input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #999 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
}
ul, li {
	list-style: none;
}
.pmn {
	padding: 0;
	margin: 0;
	height: auto!important;
}


/*********************************************
				MAIN ZONE
*********************************************/
div.bg{
	background-image: url('../images/mainbg.jpg');
	-webkit-background-size: 100%;
	background-size: 100%;
}

footer {
	height: 100px;
	margin-top: -100px;
}


/*============================================
rl ZONE
/*============================================ 
	Шапка сайта
============================================*/

div.image{
	background: url('../images/header.jpg') no-repeat;
	background-position: center center;
	background-size: 100%;
	-webkit-background-size: 100%;
	background-size: cover;
	width: 100%;
	height: 539px;
}
div.headerText{
	margin-top: 9rem;
	margin-bottom: 9rem;
}
h1{
	text-align: center;
	font-family: 'Rokkitt', serif;
	color: #FFF;
	font-size: 4.5em;
}
h2.name{
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
	color: #9b59b6;
	width: 39rem;
}
h2.intouch{
	padding-top: 100px;
	text-align: center;
	font-family: 'Rokkitt', serif;
	color: #9b59b6;
	font-size: 4.5em;
}
hr {
	line-height: 1px;
	color: #FFF;
	width: 40%;
}
div.subheader{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	color: #FFF;
}

div.logo {
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-stretch: condensed;
	font-size: 1em;
	color: #FFF;
}
div.buttonline{
	margin-top: 12rem;
}
button.box {
	padding: 7% 0% 6% 0%;
	border-color:transparent;
	background: #9b59b6;
	font-family: 'Rokkitt', serif;
	color: #FFF;
	font-size: 1.9em;
}
button.box:hover{
	box-shadow: 0px 0px 1px 7px rgba(155,89,182,0.5);
	transition: all 0.3s ease-in-out;
}


/*============================================ 
	Контентная часть
============================================*/
div.main {
	margin-top: 15rem;
}

div.introblock {
	margin-top: 5rem;
}
p.introtext{
	width: 100rem;
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	color: #95a5a6;
	line-height: 3.5rem;
	text-indent: 2rem;
}
div.announcement{
	margin-top: 10rem;
}
div.announce:last-child{
	margin-right: 0px!important;
}
div.announce{

}
div.icon{
	background-position: top center;
	background-size: 100%;
	width: 7rem;
	height: 75px;
}
div.icon-write{
	background: url('../images/icon-write.png') no-repeat;
}
div.icon-gps{
	background: url('../images/icon-gps.png') no-repeat;
}
div.icon-candy{
	background: url('../images/icon-candy.png') no-repeat;
}
h3.announceheader{
	font-family: "Open Sans", sans-serif;
	font-size: 1.2em;
	padding: 3%;
	color: #9b59b6;
}
p.announcetext{
	width: 25rem;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 2.8rem;
    word-wrap: break-word;
    color: #95a5a6;
}
/*============================================ 
	Галерея
============================================*/
div.gallery{
	margin-top: 5rem;
}
div.galblock{
    align-items:center;
}
.center{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
img.img{
	width: 400px;
	height: 300px;
	background-size: cover;
	cursor: pointer;
}
img.arrow{
	width: 30px;
    height: 30px;
    position: absolute;
    top: -0.3rem;
    right: -5rem;
}
span.button-text{
	margin:auto;
}

/*============================================ 
	Подписи к картинкам
============================================*/
.ic_container{
	display: inline-block;
    position:relative;
    /*-moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-box-shadow: 0 1px 3px #888;
    -webkit-box-shadow: 0 1px 3px #888;*/
}

.ic_caption{
	-webkit-box-shadow: 0px -5px 0px 1px rgba(156,89,182,0.5);
	-moz-box-shadow: 0px -5px 0px 1px rgba(156,89,182,0.5);
	box-shadow: 0px -5px 0px 1px rgba(156,89,182,0.5);
    position:absolute;    
    opacity:1;   
    overflow:hidden;
    margin:0px;
    padding:5px;
    left:0px;
    right:0px;
    cursor:default;
    background-color: #9b59b6;
}
.ic_category{
    text-transform:uppercase;
    font-size:11px;
    letter-spacing:3px;
    padding:5px;
    margin:0px;
}
.ic_caption h3{
	font-family: 'Rokkitt';
    padding:15px 5px 2px 5px;
    margin:0px;
    font-size:2em;
    text-align: left;
}
.ic_text{
	float:left!important;
	font-family: 'Open Sans';
    margin-left:5px;
    padding-bottom: 15px;
    text-align:left!important;
    font-size:1em;
}

/*============================================ 
	Увеличение картинок
============================================*/
.popup {
	position: fixed;
	width:100%;
	height:100%;
	top:0%;
	left:50%;
	margin-left: -50%;
	margin-right: -50%;
	display:none;
	text-align:center;
	vertical-align: middle;
}
.popup_bg {
	background:rgba(0,0,0,0.8);
	position:fixed;
	z-index:1;
	width: 100%;
	height: 100%;
}
.popup_img {
	border: 10px solid #fff;
	border-radius: 3px;
	position: relative;
	margin:0 auto;
	z-index:2;
	max-width:50%;
	max-height:50%;
}


/*============================================ 
	Блок обратной связи
============================================*/
.feedbackform{
	padding-top: 30px;
}

textarea.formelem,input.formelem{
	font-family: 'Rokkitt';
	font-size: 1.5em;
	border: none;
	padding: 15px;
	background: #e4e8e8;
}
input.formelem:first-child{
	margin-right: 1%;
}
input.formelem{
	width: 28%;
}
textarea.formelem{
	width: 57%;
	height: 200px;
}

/*============================================ 
	Навигация
============================================*/
ul.navigation{
	padding: 4px;
}
ul.navigation li{
	display: inline;
}
ul.navigation li > a{
	position: relative;
	display: inline-block;
	font-size: 1em;
	font-stretch: condensed;
	color: #FFF;
	text-decoration: none;
}
ul.navigation li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
ul.navigation li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
ul.navigation li > a:focus{
	text-decoration: none;
	color: #9b59b6;
}
ul.navigation li > a:focus:before{
	display: none;
	background-color: #9b59b6;
}

/*============================================ 
	Футер
============================================*/
footer.container-fluid.footer{
	margin-top: 150px;
	height: 240px;
	background-color: #9b59b6;
}
div.kostil{
    width: 79%;
    margin-left: 13rem;
}
div.socialline{
	top: -3rem;
	margin-bottom: 5rem;
}
.socialicon{
	cursor: pointer;
	-webkit-box-shadow: 0px 1px 0px 6px rgba(156,89,182,0.5);
	-moz-box-shadow: 0px 1px 0px 6px rgba(156,89,182,0.5);
	box-shadow: 0px 1px 0px 6px rgba(156,89,182,0.5);
}
.socialicon:hover{
	transition: all 0.2s ease-in-out 0s;
	-webkit-box-shadow: 0px 1px 0px 6px rgba(156,89,182,1);
	-moz-box-shadow: 0px 1px 0px 6px rgba(156,89,182,1);
	box-shadow: 0px 1px 0px 6px rgba(156,89,182,1);
}
.footertext{
	font-family: 'Rokkitt';
	color: #fff;
	font-size: 1.8em;
}

/*========================================================
end of rl ZONE