/*============================================

	Тарасенко Сергей
	E-mail: tarasenko-by@mail.ru
	VK.com: vk.com/sergei_tarasenko
	Site: creade.ru
	© 2014-2015

============================================*/




/*============================================ 
	Основные стили
============================================*/
body{
	font-family: Geneva, Arial, Helvetica, sans-serif;
}